body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  text-decoration: none;
}
ul {
  float: right;
  margin-left: 70%;
}

ul li {
  list-style: none;
  margin: 0 0 0 20px;
}

ul li a:hover{
  color: #007b5e !important;
}

.logo {
  font-weight: bolder;
  font-size: 40px;
  margin: 0 0 0 20px;
}

.navbar {
  border-radius: 1px solid #000 !important;
}

.bunner {
  background: #000;
  height: 100vh;
}

.bunner-img {
  background-image: url("./assests/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: right 35% bottom 45%;
  height: 100%;
  width: 100%;
  justify-content: right;
  align-items: center;
}
.bunner h1 {
    font-weight: bolder;
    color: #fff;
    font-size: 55px;
}

.bunner p{
    font-weight: bolder;
    color: #fff;
    font-size: 30px;
}

.bunner-img{
    padding: 50px auto;
}

.bunner-typo{
  padding: 18% 18%;
}

/* Hobby */

.hobby{
  background: #F6F6F6;
  height: 70vh;
}


#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}



#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  /* -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg); */
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  /* -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg); */
  transform: rotateY(180deg);
}

.mainflip {
  /* -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d; */
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  /* -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg); */
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  /* -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg); */
  transform: rotateY(-180deg);
  /* -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158); */
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: visible;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 320px;
  height: 120px;
  object-fit: cover;
  background-position: center;
}

.left-sidebar {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff1616;
}

.rows {
  padding: 0 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-top: 5%;
}

.left-col {
  flex-basis: 40%;
}

.right-col {
  flex-basis: 55%;
}

.left-col img {
  height: 100%;
  width: 80%;
  cursor: pointer;
  filter: grayscale(0);
  transition: filter 1s;
}

.left-col img:hover {
  filter: grayscale(1);
}

.h1 {
  font-style: 35px;
  font-weight: 600;
}

.right-col p {
  color: #777;
  margin: 20px 0 30px;
}

.right-col span{
  color: #007b5e;
}

.social-media {
  display: flex;
  margin-top: 30px;
}

.icon {
  width: 100px;
  height: 100px;
  background: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.icon i {
  width: 28px;
}

.icon a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff1616;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.icon a:hover {
  opacity: 1;
}

.container-contact{
  padding: 40px 15%;
  font-family: poppins;
}

input[type=text], select, textarea {
  width: 100%;
  /* border-radius: 5px; */
  padding: 12px;
  border: 1.5px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #007b5e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer{
  height: 50px;
  background:#000;
  text-align: center;
  padding: 10px;
  color: #fff;
}

footer:hover{
  color: #007b5e;
}