body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  text-decoration: none;
}
ul {
  float: right;
  margin-left: 70%;
}

ul li {
  list-style: none;
  margin: 0 0 0 20px;
}

.logo {
  font-weight: bolder;
  font-size: 40px;
  margin: 0 0 0 20px;
}

.navbar {
  border-radius: 1px solid #000 !important;
}

.bunner {
  background: #000;
  height: 100vh;
}

.bunner-img {
  background-image: url("./assests/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: right 35% bottom 45%;
  height: 100%;
  width: 100%;
  justify-content: right;
  align-items: center;
}
.bunner h1 {
    font-weight: bolder;
    color: #fff;
    font-size: 70px;
}

.bunner p{
    font-weight: bolder;
    color: #fff;
    font-size: 40px;
}

.bunner-img{
    padding: 50px auto;
}

/* Hobby */

.hobby{
  background: #F6F6F6;
  height: 30vh;
}